body{
    background-color: black;
    color: white;
    text-align: center;
    
}
.cont{
    width: 100%;
    height: auto;
    display: flex;
    margin: 10% auto;
    justify-content: space-around;

}
#reduce,#incre{
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    scale: 2;
}
#num{
    margin-top: 50px;
    font-size: 200px;
}
#reset{
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}